body{
    padding: 0;
    margin: auto 0;
    font-size: 1.13rem;
}

h1,p{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header{
    height: 40vh;
    width: 100%;
    background: url("../images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s background ease-out;
}

body.light .header{
    background: url("../images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom{
    width: 100%;
    height: 60vh;
    background-color: hsl(235, 21%, 11%);
    transition: 1s background ease-out;
}

body.light .bottom{
    background-color: hsl(236, 33%, 92%);
}

.main{
    position: absolute;
    width: 30em;
}

.todoHeader{
    display: flex;
    height: 4em;
    justify-content: space-between;
    align-items: center;
}

h1{
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-weight: 700;
    color: white;
}

#modeIconChange{
    cursor: pointer;
}

.form{
    display: flex;
    align-items: center;
    background-color:  hsl(235, 24%, 19%);
    height: 3.5em;
    margin-bottom: 1.5em;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 1s background ease-out;
}

body.light .form{
    background-color: hsl(0, 0%, 98%);
}

.radioButton{
    margin-left: 1em;
    margin-right: 1em;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    border: 1px solid hsl(237, 14%, 26%);
}

body.light .radioButton{
    border: 1px solid hsl(236, 33%, 92%);
}

#todoInput{
    width: 90%;
    font-size: 18px;
    border: none;
    background-color:  hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
    transition: 1s background ease-out;
}

body.light #todoInput{
    background-color: hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
}

#todoInput:focus{
    outline: none;
}

.todosContainer{
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
}

body.light .todosContainer{
    background-color: hsl(0, 0%, 98%);
}

#todos{
    display: flex; 
    flex-direction: column;
    border-radius: 5px;
}


.todo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.7em;
    border-bottom: 1px solid hsl(233, 14%, 35%);
    cursor: pointer;
}

body.light .todo{
    border-bottom: 1px solid hsl(233, 11%, 84%);
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
}

.state{
    display: flex;
}

.additionalInfo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.additionalInfo p{
    text-align: center;
}

.radio{
    margin-left: 1em;
    margin-right: 1em;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(237, 14%, 26%);
    transition: 1s border ease-out;
    /* background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)); */
}

.radioBackgound{
    height: 1.1em;
    width: 1.1em;
    background-color: hsl(235, 24%, 19%);
    border-radius: 50%;
}

body.light .radioBackgound{
    background-color: hsl(0, 0%, 98%)
}

body.light .radio{
    border: 1px solid hsl(236, 33%, 92%);
}

.cancelTodo{
    height: 1.2em;
    width: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelTodo img{
    max-width: 100%;
    cursor: pointer;
    display: none;
}

.todoTextContainer{
    width: 80%;
}

.todoText{
    color: hsl(234, 39%, 85%);
    transition: 1s color ease-out;
}

.todoText:hover{
    color: hsl(236, 33%, 92%);
}

body.light .todoText{
    color: hsl(235, 19%, 35%);
}

.todoTextLight {
    color: hsl(233, 14%, 35%);
}

body.light .todoTextLight{
    color: hsl(233, 11%, 84%);
}

.footerText{
    color: hsl(233, 14%, 35%);
    transition: 1s color ease-out;
}

body.light .footerText{
    color: hsl(236, 9%, 61%);
}

#totalItems{
    margin-left: 1em;
}

.state p{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#clearCompleted{
    margin-right: 1em;
}

.additionalInfo{
    margin-top: 1em;
}

.state p{
    cursor: pointer; 
}

.state p:hover{
    color: hsl(236, 33%, 92%);
}

body.light .state p:hover{
   color: hsl(235, 19%, 35%)
}

#clearCompletedTask{
    cursor: pointer;
}

.active{
    color: blue;
}
body.light .active:hover{
    color: hsl(235, 19%, 35%)
}

.active:hover{
    color: hsl(235, 19%, 35%);
}

.nonActive{
    color: hsl(233, 14%, 35%); 
}

body.light .nonActive{
    color:hsl(236, 9%, 61%); 
}

.nonActive:hover{
    color: hsl(233, 14%, 35%); 
}

body.light .nonActive:hover{
    color:hsl(235, 19%, 35%); 
}

#clearCompletedTask:hover{
    color: hsl(236, 33%, 92%);
}

body.light #clearCompletedTask:hover{
    color: hsl(235, 19%, 35%)
 }

 .smallState{
    display: none;
}

@media(max-width: 414px){
    body{
        font-size: 14px;
    }
    .main{
        width: 100%;
        box-sizing: border-box;
        padding-left: 5%;
        padding-right: 5%;
    }

    .header{
        background: url("../images/bg-mobile-dark.jpg");
        background-repeat: no-repeat;
        height: 35vh;
        background-size: cover;
        transition: 1s background ease-out;
    }

    .bottom{
        height: 65vh;
    }
    
    body.light .header{
        background: url("../images/bg-mobile-light.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cancelTodo{
       margin-right: 1em;
    }

    .state{
        display: none;
    }

    .cancelTodo img{
        display: block;
    }

    .smallState{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: hsl(235, 24%, 19%);
        margin-top: 1.2em;
        height: 3em;
        border-radius: 5px;
    }

    body.light .smallState{
        background-color: hsl(0, 0%, 98%);
    }

    .smallState p{
        margin-right: 1em;
        margin-left: 1em;
        cursor: pointer;
        /* color: hsl(233, 14%, 35%); */
    }
}